body{
    background-color: #202124;
    color: #FA7167
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .images{
        height: 80vh;
        width:90vw;
        background-color: #FA7167;
        display: flex;
        overflow: hidden;
    }
}

.image{
    flex:1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FA7167;
    border: 2px solid #FA7167;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
}
.image  {
    p{
        flex: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
    
    }
    p:nth-child(2){
        font-size: 3rem;
    }
    p:first-child{
        transform: translateY(-100%)
    }
    p:last-child{
        transform: translateY(100%)
    }

}

.image.active{
    flex:5;
    p:nth-child(2){
        font-size: 3.5rem;
    }
    p:first-child{
        transform: translateY(0)
    }
    p:last-child{
        transform: translateY(0)
    }
}
.image1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.image2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.image3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.image4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.image5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }