body {
  background-color: #202124;
  color: #FA7167;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .images {
  height: 80vh;
  width: 90vw;
  background-color: #FA7167;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FA7167;
  border: 2px solid #FA7167;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  font-size: 20px;
  background-size: cover;
  background-position: center;
}

.image p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.image p:nth-child(2) {
  font-size: 3rem;
}

.image p:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.image p:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.image.active {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.image.active p:nth-child(2) {
  font-size: 3.5rem;
}

.image.active p:first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.image.active p:last-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.image1 {
  background-image: url(Images/01.webp);
}

.image2 {
  background-image: url(Images/02.webp);
}

.image3 {
  background-image: url(Images/03.webp);
}

.image4 {
  background-image: url(Images/04.webp);
}

.image5 {
  background-image: url(Images/05.webp);
}
/*# sourceMappingURL=style.css.map */